.light {
  --color-scheme: light;

  body {
    --topbar-color: #ebebebe6;
    --background-color: #ebebeb;
    --text-color: #4c4f65;
    --bg-line-color: #1c1d250d;
    --title-color: #79655d;
    --icon-color: var(--text-color);

    --animation-color-before: #235aa6;
    --animation-color-after: #f25757;
  }
}

.dark {
  --color-scheme: dark;

  body {
    --topbar-color: #1c1d25e6;
    --background-color: #1c1d25;
    --text-color: #ffffff;
    --title-color: #b19386;
    --bg-line-color: #fdc5af17;
    --icon-color: var(--text-color);

    --animation-color-before: #235aa6;
    --animation-color-after: #f25757;
  }
}
