@use "../../styles/Breakpoint.scss" as *;

.TimelineCard {
  width: 100%;
  display: flex;
  gap: 30px;
  .left {
    margin-top: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .title {
      font-size: 1.1em;
      letter-spacing: 2px;
      font-weight: 700;
      text-align: right;
      margin-bottom: 5px;
    }

    .date {
      text-align: center;
      font-size: 12px;
      font-family: var(--secondary-font);
      color: var(--title-color);
      letter-spacing: 2px;
    }
  }

  .center {
    display: flex;
    width: 5%;
    flex-direction: column;
    align-items: center;
    .line {
      width: 3px;
      height: 10px;
      line-height: 20px;
      background-color: var(--title-color);
      &:last-child {
        flex: 1;
      }
    }

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 3px solid var(--title-color);
      margin: 0 auto;
    }
  }

  .right {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .title {
      font-size: 1.2em;
      letter-spacing: 2px;
      line-height: 20px;
      color: var(--title-color);
      margin-bottom: 5px;
      font-weight: 700;
    }

    .description {
      font-size: 1em;
      line-height: 20px;
      letter-spacing: 1.2px;
      margin-bottom: 25px;
    }

    .more {
      all: unset;
      cursor: pointer;
      color: var(--animation-color-after);
      text-decoration: underline;
    }
  }

  @include sm {
    .left {
      width: 45%;
      .title {
        text-align: center;
        font-size: 1.1em;
      }
    }

    .center {
      width: 5%;

      .line {
        width: 2px;
      }

      .circle {
        width: 15px;
        height: 15px;
        border: 2px solid var(--title-color);
      }
    }
    .right {
      width: 50%;
      .title {
        font-size: 1.1em;
      }
      .description {
        font-size: 0.9em;
      }
    }
  }
}
