.ProjectCard {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: "";
    background: #1c1d25;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  .reveal-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: all 1s ease;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      background: linear-gradient(270deg, rgba(35, 90, 166), rgba(16, 27, 59));
      transition: all 1s ease;
      // transform: translateX(50%);
    }
  }

  .reveal {
    &::before {
      transform: translateX(100%);
    }
  }

  .content {
    position: absolute;
    bottom: 15%;
    z-index: 2;
    display: flex;
    flex-direction: column;

    transition: all 1s;

    h3 {
      font-size: 3em;
      margin: 0;
      font-weight: 900;
    }

    h5 {
      margin: 20px 0;
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
    }
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      overflow: hidden;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transform: translateX(-100%);
      transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s,
        opacity 0.2s;

      background: linear-gradient(
        270deg,
        rgba(35, 90, 166, 0.9),
        rgba(16, 27, 59, 0.9)
      );
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    .github {
      cursor: pointer;
      transition: all 0.3s;

      svg {
        width: 40px;
        height: 40px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .tech-stack {
    position: absolute;
    bottom: 0;

    z-index: 2;
    display: flex;
    gap: 20px;

    transition: all 0.8s;
    transform: translateY(-15px);
    opacity: 0;

    svg {
      width: 50px;
      height: 50px;
      filter: drop-shadow(2px 2px 5px #1c1d25);
    }
  }

  .num {
    position: absolute;
    top: 8%;
    margin: 0;
    font-weight: 900;
    font-size: 11em;
    color: white;
    transform: translateY(15px);
    filter: drop-shadow(0px 0px 30px #1c1d25);
    z-index: 2;
    opacity: 0;
    transition: all 1s;
  }

  &:hover {
    .content {
      transform: scale(1.1);
    }

    .mask::before {
      transform: translateX(0%);
    }

    .num {
      opacity: 1;
      transform: translateY(-15px);
    }

    .tech-stack {
      opacity: 1;
    }
  }

  svg {
    fill: white;
  }
}

.card-left {
  left: 50px;

  .content {
    right: 10%;
    align-items: flex-end;
  }

  .num {
    left: -5%;
  }

  .tech-stack {
    left: 0%;
  }

  .links {
    flex-direction: row-reverse;
  }

  &:hover {
    .tech-stack {
      left: -5%;
    }
  }
}

.card-right {
  right: 50px;

  .content {
    left: 10%;
    align-items: flex-start;
  }

  .num {
    left: -5%;
  }

  .tech-stack {
    right: 0%;
  }

  &:hover {
    .tech-stack {
      right: -5%;
    }
  }
}
