.WorkExperienceModal {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: none;
  .container {
    width: 80dvw;
    display: flex;
    z-index: 1000;
    height: 90dvh;
  }

  .left {
    transform: translateY(200%);
    padding: 40px 20px;
    width: 40%;
    height: 100%;
    background-color: #1c1d25fb;
    color: #dadada;
    gap: 0px;

    box-shadow: 0px 0px 20px #0000008c;

    .title {
      font-size: 1.5rem;
    }

    .date {
      font-size: 1.1rem;
    }

    .description {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 20px;
    }

    .techStack {
      .title {
        font-size: 1.3rem;
      }

      .techContainer {
        overflow-y: auto;
        display: flex;
        height: 250px;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .icon {
          width: 40px;
          height: 40px;
          svg {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .right {
    transform: translateY(-200%);
    width: 60%;
    height: 100%;
    background-color: #f2f2f2f7;
    padding: 40px 20px;
    color: #1c1d25;
    position: relative;
    // overflow-y: auto;
    box-shadow: 0px 0px 20px #0000008c;

    .title {
      font-size: 1.5rem;
    }

    ul {
      height: 90%;
      overflow-y: auto;
    }

    li {
      font-size: 1.1rem;
      letter-spacing: 0.5px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 12px;
    }
  }

  .close {
    z-index: 1000;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 40px;
    right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .line {
      position: absolute;
      height: 3px;
      width: 35px;
      background-color: #1c1d25;
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);

      &::after {
        content: "";
        position: absolute;
        left: -35px;
        height: 100%;
        width: 100%;
        background-color: var(--animation-color-after);
        transition: all 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
      }
    }
    .l1 {
      transform: rotate(45deg);
    }
    .l2 {
      transform: rotate(-45deg);
    }

    &:hover {
      .line::after {
        left: 35px;
      }
      .l1 {
        transform: rotate(-45deg);
      }
      .l2 {
        transform: rotate(45deg);
      }
    }
  }
}
