.Modal {
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .container {
    position: relative;

    .close {
      z-index: 1000;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 40px;
      right: 20px;

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .line {
        position: absolute;
        height: 3px;
        width: 35px;
        background-color: var(--icon-color);
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);

        &::after {
          content: "";
          position: absolute;
          left: -35px;
          height: 100%;
          width: 100%;
          background-color: var(--animation-color-after);
          transition: all 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
        }
      }
      .l1 {
        transform: rotate(45deg);
      }
      .l2 {
        transform: rotate(-45deg);
      }

      &:hover {
        .line::after {
          left: 35px;
        }
        .l1 {
          transform: rotate(-45deg);
        }
        .l2 {
          transform: rotate(45deg);
        }
      }
    }
  }
}
