.Experiment {
  width: 100%;
  background-color: white;
  box-shadow: 0 15px 40px 1px rgb(0 0 0 / 15%);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fce0db;
    transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
    z-index: -1;
  }

  .image {
    width: 230px;
    height: 230px;
    margin: 30px 0px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 15px 40px 10px rgb(0 0 0 / 25%);
    transition: all 0.45s ease;
  }

  .content {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .title {
      color: black;
      h3 {
        position: relative;
        font-size: 0.65em;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1px;
        margin: 0;

        &::before {
          content: "";
          position: absolute;
          top: 45%;
          left: -12px;
          height: 2px;
          background-color: #1c1d25;
          width: 7px;
        }
      }

      h6 {
        display: block;
        font-size: 0.75em;
        margin: 0;
        font-weight: lighter;
      }
    }

    .line {
      width: 3px;
      background-color: #1c1d25;
      color: var(--text-color);

      height: 80%;
      position: relative;
      transition: all 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);

      &::before {
        content: attr(data-index);
        font-size: 8px;
        font-weight: 900;
        position: absolute;
        transform: rotateZ(-90deg);
        top: -70%;
        left: 6.5px;
        width: 100%;
        height: 100%;
        transition: all 0.45s cubic-bezier(0.52, 0.01, 0.16, 1);
      }
    }
  }

  &:hover {
    &::before {
      width: 100%;
    }

    .image {
      transform: scale(1.1);
      box-shadow: 0 15px 40px 20px rgb(0 0 0 / 30%);
    }

    .line {
      transform: scaleY(1.2);

      &::before {
        transform: rotateZ(-90deg), scaleY(1);
        top: -100%;
      }
    }
  }
}
