.light {
  --topbar-color: #ebebebe6;
  --background-color: #ebebeb;
  --text-color: #4c4f65;
  --icon-color: var(--text-color);

  //   --light-text-color: #b0b2c3;
  --animation-color-before: #235aa6;
  --animation-color-after: #f25757;
}

.dark {
  --topbar-color: red;
  --background-color: #ebebeb;
  --text-color: #4c4f65;
  --icon-color: var(--text-color);

  --light-text-color: #b0b2c3;
  --animation-color-before: #235aa6;
  --animation-color-after: #f25757;
}
