@use "./Breakpoint" as *;

.App {
  --page-padding: 0 15dvw;
  --topbar-height: 10dvh;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;

  @include sm {
    --page-padding: 0 5dvw;
    --topbar-height: 15vh;
  }
}