* {
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  overflow: hidden;
  color-scheme: var(--color-scheme);
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #969696;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
