@use "../../styles/Breakpoint.scss" as *;

.WorkExperience {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  position: relative;
  padding: var(--page-padding);

  margin: 0;
  padding-top: 40px;

  h4 {
    text-align: center;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman,
      serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--title-color);
    margin-bottom: 25px;
    margin-bottom: 70px;
  }

  .layout {
    display: flex;
    gap: 80px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .category {
        // text-align: end;
        font-size: 1em;
        font-weight: 700;
        letter-spacing: 2px;
      }
      .skills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .skill {
          font-family: var(--secondary-font);
          width: max-content;
          font-size: 0.85em;
          padding: 0.1rem 0.5rem;
          border-radius: 0.4rem;
          color: var(--title-color);
          border: 1px solid var(--title-color);
        }
      }
    }
  }

  @include sm {
    padding-bottom: 80px;

    .layout {
      flex-direction: column;
    }
  }
}
